<?js
var data = obj || {};
if (data.description) {
?>
<div class="param-desc">
    <?js= description ?>
</div>
<?js } ?>

<?js if (data.type && data.type.names) {?>
<dl class="param-type">
    <dt>
        Type
    </dt>
    <dd>
        <code>
        <?js= this.partial('type.tmpl', data.type.names) ?>
      </code>
    </dd>
</dl>
<?js } ?>
